@model RetroFlyreiser.Model.Flymaskin

@{
    ViewBag.Title = "SlettFlymaskin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Slett Flymaskin</h2>

<h3>Er du sikker på at du vil slette flymaskinen?</h3>
<div>
    <h4>Flymaskin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.FlyId)</dt>
        <dd> @Html.DisplayFor(model => model.FlyId) </dd>

        <dt> @Html.DisplayNameFor(model => model.Type)</dt>
        <dd> @Html.DisplayFor(model => model.Type) </dd>

        <dt> @Html.DisplayNameFor(model => model.Kapasitet) </dt>
        <dd> @Html.DisplayFor(model => model.Kapasitet)</dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Slett" class="btn btn-danger" />
            <a href="/Flymaskin/ListFlymaskiner" class="btn btn-primary">Tilbake til liste</a>
        </div>
    }
</div>
