@model RetroFlyreiser.Model.Bruker
@{
    ViewBag.Title = "LoginSide";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="col col-lg-12">
        <div class="container" id="login">
            <div class="form-horizontal text">
                <h4>Logg inn</h4>
                <div class="form-group">
                    <div class="col col-lg-8">
                        @Html.EditorFor(model => model.Brukernavn, new { htmlAttributes = new { @class = "form-control", placeholder = "Brukernavn / E-post" } })
                        @Html.ValidationMessageFor(model => model.Brukernavn, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-lg-8">
                        @Html.PasswordFor(model => model.Passord, new { @class = "form-control", placeholder = "Passord" })
                        @Html.ValidationMessageFor(model => model.Passord, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col col-md-4">
                        <input type="submit" value="Logg inn" class="btn btn-primary" />
                        <a href="/Admin/RegistrerBruker" class="btn btn-info">Registrer</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    





















